$primaryColor: #007fac;
$secondaryColor: #f28411;
$primaryFontColor: #222222;
$secondaryFontColor: #ffffff;
$fontFamily:  HelveticaNeue, Calibri, sans-serif;

// ---------------------------------------------------------------------------
// Imports

@import "respondsass";

// ---------------------------------------------------------------------------
