<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">	
	<title>Title here</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Page description here">
	<meta name="keywords" content="keywords, here">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="stylesheets/screen.css">
	<script type="text/javascript" async src="javascripts/modernizr.custom.js"></script>
	<script type="text/javascript" async src="javascripts/respond.min.js"></script>
</head>

<body>
	<div class="container">
		<section class="row">
			<div class="span-1">
				<p>Column 1</p>
			</div>
			<div class="span-1">
				<p>Column 2</p>
			</div>
			<div class="span-1">
				<p>Column 3</p>
			</div>
			<div class="span-1">
				<p>Column 4</p>
			</div>
			<div class="span-1">
				<p>Column 5</p>
			</div>
			<div class="span-1">
				<p>Column 6</p>
			</div>
			<div class="span-1">
				<p>Column 7</p>
			</div>
			<div class="span-1">
				<p>Column 8</p>
			</div>
			<div class="span-1">
				<p>Column 9</p>
			</div>
			<div class="span-1">
				<p>Column 10</p>
			</div>
			<div class="span-1">
				<p>Column 11</p>
			</div>
			<div class="span-1">
				<p>Column 12</p>
			</div>
			<div class="span-1">
				<p>Column 13</p>
			</div>
			<div class="span-1">
				<p>Column 14</p>
			</div>
			<div class="span-1">
				<p>Column 15</p>
			</div>
			<div class="span-1">
				<p>Column 16</p>
			</div>
		</section>
		<section class="row">
			<div class="thirds-1">
				<p>One Third</p>
			</div>
			<div class="thirds-2">
				<p>Two Thirds</p>
			</div>
		</section>
		<section class="row">
			<div class="fifths-3">
				<p>3 Fifths</p>
			</div>
			<div class="fifths-2">
				<p>2 Fifths</p>
			</div>
		</section>
		<section class="row">
			<div class="fifths-4">
				<p>4 Fifths</p>
			</div>
			<div class="fifths-1">
				<p>1 Fifth</p>
			</div>
		</section>

		<section class="row">
			<div class="cols-2">
				<p>Cols span 2</p>
			</div>
			<div class="cols-3">
				<p>Cols span 3</p>
			</div>
			<div class="cols-6">
				<p>Cols span 6</p>
			</div>
			<div class="cols-1">
				<p>Cols span 1</p>
			</div>
		</section>
		<!-- End .row -->
	</div>
	<!-- End .container.row -->
	
	<script type="text/javascript">
		// Your Google analytics here
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-xxxxxx-x']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</body>

</html>
