<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7><![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en" class="no-js"><!--<![endif]-->
<head>
	<meta charset="utf-8">	
	<title>Title here</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Page description here">
	<meta name="keywords" content="keywords, here">
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link rel="stylesheet" href="stylesheets/screen.css">
	<script type="text/javascript" async src="javascripts/modernizr.custom.js"></script>
	<script type="text/javascript" async src="javascripts/respond.min.js"></script>
</head>

<body>
	<div class="container">
		<section class="row">

		</section>
		<!-- End .row -->
	</div>
	<!-- End .container.row -->
	
	<script type="text/javascript">
		// Your Google analytics here
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-xxxxxx-x']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</body>

</html>
